doctype html
html
  head
    title=  `${title}`
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
  body
    .container
      h1 Custom Objects List
      a(href="/update-cobj") Add to this table
      table(border="1")
        tr
          th Name
          th Species
          th About
        each obj in customObjects
          tr
            td= obj.properties.name
            td= obj.properties.species
            td= obj.properties.about
      br
      a(href="/") Return to homepage
