doctype html
html
  head
    title= `${title}`
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
  body
    .container
      h1 Add a New Custom Object
      .form-wrapper
        form(action="/update-cobj" method="POST")
          .form-group
            label(for="name") Name:
            input(type="text" name="name" required)
          .form-group
            label(for="species") Species:
            input(type="text" name="species" required)
          .form-group
            label(for="about") About:
            input(type="text" name="about" required)
          .form-group
            button(type="submit") Submit
      br
      a(href="/") Return to homepage
